h1 {
    font-size: 65;
    color: orange;
    font-family: sans-serif;
    text-decoration: line-through;

}
ul {
    background-color: aquamarine;
    line-height: 30px;
    text-align: center;

}
.cor {
    background-color: chocolate;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
body {
    font-size: 16px;
}
#amarelo {
    background-color: yellow;
    color: red;
}
#vermelho {
    background-color: red;
    color: rgb(46, 13, 13);
}
#marrom {
    background-color: brown;
    color: yellow;
}